<div id="page_wrapper">
	<div id="profile_image">
	<%= image_tag "profile.jpeg" %>		
	</div>

	<div id="content">
		<h1>It's Mister Stick</h1>
		<p>Next level fixie blue bottle tacos hoodie. Ennui wolf letterpress, four loko quinoa lo-fi ramps heirloom. Paleo farm-to-table seitan hashtag ethical, 8-bit meggings godard squid man braid forage williamsburg tofu. Food truck kale chips blue bottle next level organic, keffiyeh VHS chillwave. Jean shorts craft beer poutine, church-key kombucha dreamcatcher health goth pop-up hoodie pug brunch synth polaroid whatever ennui. Chillwave lumbersexual tote bag, beard letterpress heirloom literally. Trust fund everyday carry iPhone pop-up intelligentsia.</p>
	</div>
</div>